<header data-th-fragment="header">
    <div id="logo">ENI-Enchères</div>
    <div>
        <span data-th-text="${#authentication.name}"></span>
    </div>
    <nav>
        <a href="/">Accueil</a>
        <a href="/create-profile">S'inscrire</a>
        <a href="/login">Se connecter</a>
        <a data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}" href="#">Administration</a>
        <a data-th-if="${#authorization.expression('isAuthenticated()')}" href="/logout">Se déconnecter</a>
    </nav>
    <div id="today-date">Date du jour : </div>
</header>