main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

#create-profile-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#create-profile-form label, #address-label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
    text-align: left;
}

#create-profile-form input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#adresse-fields {
    display: flex;
    gap: 1rem;
}

#adresse-fields input {
    flex: 1;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cancel-btn {
    background-color: #ddd;
}

#create-btn {
    background-color: #007BFF;
    color: white;
}
