<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
      title=~{:: title},
      main=~{:: main},
      ressources=~{:: .block-head}
      )}">
<head>
    <title>Détail de la Vente</title>
    <th:block class="block-head">
        <link rel="stylesheet" data-th-href="@{/css/DetailVente.css}">
        
    </th:block>
</head>
<body>
    <main>
        <section id="vente-details">
            <h1>Détail d'une vente</h1>
            <div id="vente-info">
                <div id="vente-text">
                    <p><strong>Article :</strong> <span th:text="${enchereDetails.nomArticle}">Nom de l'article</span></p>
                    <p><strong>Fin de l'enchère :</strong> <span th:text="${enchereDetails.dateFinEncheres}">01/06/202X</span></p>
                    <p><strong>Catégorie :</strong> <span th:text="${enchereDetails.categorie}">Catégorie</span></p>
                    <p><strong>Description :</strong> <span th:text="${enchereDetails.description}">Description de l'article</span></p>
                    <p><strong>Retrait :</strong> <span th:text="${enchereDetails.adresseRetrait}">Adresse de retrait</span></p>
                    <p><strong>Mise à prix :</strong> <span th:text="${enchereDetails.prixInitial}">Prix initial</span> points</p>
                    <p><strong>Meilleure offre :</strong> <span th:text="${enchereDetails.meilleureOffre}">Prix actuel</span> points</p>
                    <p><strong>Vendeur :</strong> <span th:text="${enchereDetails.vendeur}">Pseudo vendeur</span></p>
                </div>
            </div>
            <button type="button" id="btn-retour" th:onclick="|window.location='/'|">Retour</button>
        </section>
    </main>
</body>
</html>