<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
      title=~{:: title},
      main=~{:: main},
      ressources=~{:: .block-head})}"
>

<title data-th-text="#{view-display-profile.title}"></title>

<th:block class="block-head">
    <link rel="stylesheet" data-th-href="@{css/create-profile.css}">
</th:block>

<main>
    <h1 data-th-text="#{view-display-profile.h1}" class="mb-4"></h1>
    
    <div class="mb-4 d-flex">
        <label for="prenom" class="form-label w-25" data-th-text="#{view-display-profile.form.label.prenom}"></label>
        <input type="text" class="form-control w-75" id="prenom" disabled>
    </div>
    <div class="mb-4 d-flex">
        <label for="nom" class="form-label w-25" data-th-text="#{view-display-profile.form.label.nom}"></label>
        <input type="text" class="form-control w-75" id="nom" disabled>
    </div>
    <div class="mb-4 d-flex">
        <label for="email" class="form-label w-25" data-th-text="#{view-display-profile.form.label.email}"></label>
        <input type="text" class="form-control w-75" id="email" disabled>
    </div>
    <div class="mb-5 d-flex">
        <label for="telephone" class="form-label w-25"
               data-th-text="#{view-display-profile.form.label.telephone}"></label>
        <input type="text" class="form-control w-75" id="telephone" disabled>
    </div>
    
    <a href="#">
        <button type="button" class="btn btn-primary w-100" data-th-text="#{view-display-profile.button.modifier}">
            Modifier
        </button>
    </a>
</main>

</html>