<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
      title=~{:: title},
      main=~{:: main},
      ressources=~{:: .block-head}
      )}">
<head>
    <title>Erreur</title>
    <th:block class="block-head">
        <link rel="stylesheet" data-th-href="@{css/index.css}">
    </th:block>
</head>

<body>
<main>
    <h1 data-th-text="erreur + ${status}"></h1>
    <ul>
        <li data-th-switch="${status}">
            <label data-th-case="403">Erreur 403</label> <!-- User n'a pas le role -->
            <label data-th-case="404">Erreur 404</label>
            <label data-th-case="500">Erreur 500</label>
            <label data-th-case="*">Erreur</label>
        </li>
    </ul>
</main>
</body>

</html>