<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
      title=~{:: title},
      main=~{:: main},
      ressources=~{:: .block-head}
      )}">
<head>
    <title>Connexion - ENI-Enchères</title>
    <th:block class="block-head">
        <link rel="stylesheet" data-th-href="@{css/login.css}">
    </th:block>
</head>

<body>
<main>
    <section class="login-form">
        <h1>Connexion</h1>
        <div class="error-text" data-th-if="${param.error != null}" data-th-text="#{message.loginError}"></div>
        
        <form data-th-action="@{/login}" method="post">
            <label for="username">Identifiant :</label>
            <input type="text" id="username" name="username" placeholder="Votre identifiant" required>
            
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>
            
            <button type="submit">Valider</button>
            
            <div class="extra-links">
                <a href="#">Mot de passe oublié ?</a>
                <a href="/create-profile">Créer un compte</a>
            </div>
        </form>
    </section>
</main>
</body>

</html>
