<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
      title=~{:: title},
      main=~{:: main},
      ressources=~{:: .block-head})}"
>

<title data-th-text="#{view-modify-profile.title}"></title>

<th:block class="block-head">
    <link rel="stylesheet" data-th-href="@{/css/modify-profile.css}">
</th:block>

<main>
    <h1 data-th-text="#{view-modify-profile.h1}"></h1>
    
    <form id="modify-profile-form" data-th-action="@{/profile/modify/{pseudo}(pseudo=${user.pseudo})}" data-th-object="${user}"
          method="post">
        <div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>
        
        <label for="pseudo" data-th-text="#{view-modify-profile.form.pseudo}"></label>
        <input type="text" id="pseudo" data-th-field="*{pseudo}" readonly>
        
        <label for="prenom" data-th-text="#{view-create-profile.form.prenom}"></label>
        <input type="text" id="prenom" data-th-field="*{prenom}" required>
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></div>
        
        <label for="nom" data-th-text="#{view-create-profile.form.nom}"></label>
        <input type="text" id="nom" data-th-field="*{nom}" required>
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div>
        
        <label for="email" data-th-text="#{view-create-profile.form.email}"></label>
        <input type="email" id="email" data-th-field="*{email}" required>
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('email')}"></div>
        
        <label for="telephone" data-th-text="#{view-create-profile.form.telephone}"></label>
        <input type="tel" id="telephone" data-th-field="*{telephone}">
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('telephone')}"></div>
        
        <p id="address-label" data-th-text="#{view-create-profile.form.adresse}"></p>
        <div id="adresse-fields">
            <input type="hidden" data-th-field="*{adresse.id}">
            <input type="text" id="rue" data-th-field="*{adresse.rue}" placeholder="Rue">
            <input type="text" id="codePostal" data-th-field="*{adresse.codePostal}" placeholder="Code Postal">
            <input type="text" id="ville" data-th-field="*{adresse.ville}" placeholder="Ville">
        </div>
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.rue')}"></div>
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.codePostal')}"></div>
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.ville')}"></div>
        
        <div class="d-flex row">
            <input type="hidden" data-th-field="*{credit}">
            <label class="d-flex w-25" data-th-text="#{view-modify-profile.form.credit.label}"></label>
            <label class="w-25" data-th-text="${user.credit} + ' ' + #{view-modify-profile.form.credit.input}"></label>
        </div>
        
        <div id="buttons">
            <button type="submit" id="modify-btn" data-th-text="#{view-modify-profile.button.modifier}"></button>
            <a href="#"><button type="button" id="modify-password-btn" data-th-text="#{view-modify-profile.button.modifier.password}"></button></a>
            <a href="#"><button type="button" id="delete-btn" data-th-text="#{view-modify-profile.button.supprimer}"></button></a>
            <a data-th-href="@{/profile/{pseudo}(pseudo=${user.pseudo})}"><button type="button" id="cancel-btn" data-th-text="#{view-modify-profile.button.Annuler}"></button></a>
        </div>
    </form>
</main>

</html>