<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
      title=~{:: title},
      main=~{:: main},
      ressources=~{:: .block-head}
      )}">
<title data-th-text="#{view-sell-article.title}"></title>
<th:block class="block-head">
    <link rel="stylesheet" data-th-href="@{/css/sellArticle.css}">
</th:block>
<body>
    <main>
        <h1 data-th-text="#{view-sell-article.form.h1}"></h1>
        <form method="post" th:action="@{/sell-article}" th:object="${sellArticle}">
        
            <label for="article" data-th-text="#{view-sell-article.form.article}"></label>
            <input type="text" id="article" name="nomArticle" data-th-field="*{nomArticle}" required>

<label for="categorie" data-th-text="#{view-sell-article.form.categorie}"></label>

<select id="categorie" name="categorie.noCategorie" th:field="*{categorie.noCategorie}">
    <option th:each="categorie : ${categories}" 
            th:value="${categorie.noCategorie}" 
            th:text="${categorie.libelle}"></option>
</select>

            <label for="description" data-th-text="#{view-sell-article.form.description}"></label>
            <textarea id="description" name="description" data-th-field="*{description}" required></textarea>
      

            <label for="miseAPrix" data-th-text="#{view-sell-article.form.miseaprix}"></label>
            <input type="number" id="miseAPrix" name="miseAPrix" data-th-field="*{prixInitial}" min="1" required>
            

            <label for="dateDebut" data-th-text="#{view-sell-article.form.datedebut}"></label>
            <input type="date" id="dateDebut" name="dateDebut" data-th-field="*{dateDebutEncheres}" required>
            

            <label for="dateFin" data-th-text="#{view-sell-article.form.datefin}"></label>
            <input type="date" id="dateFin" name="dateFin" data-th-field="*{dateFinEncheres}" required>       

 <label for="retrait" data-th-text="#{view-sell-article.form.retrait}"></label>

<select id="adresse" name="adresse.id" th:field="*{adresse.id}">
    <option th:each="adresse : ${adresses}" 
            th:value="${adresse.id}" 
            th:text="${adresse.rue + ' ' + adresse.ville}"></option>
</select>
            <div class="actions">
                <button type="submit" data-th-text="#{view-sell-article.form.button.suivant}"></button>
                <button type="button" th:onclick="|window.location='/'|" data-th-text="#{view-sell-article.form.button.annuler}"></button>
                <button type="button" th:onclick="|window.location='/'|" data-th-text="#{view-sell-article.form.button.annulerSimple}"></button>
            </div>
        </form>
    </main>
</body>
</html>
